* {
    font-family: 'Raleway';
}

.__navbar__ {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
}

.__headTitle__ {
    font-size: 25px;
    font-weight: 650;
}

.__headList__ {
    width: 350px;
    font-size: 15px;
    font-weight: 450;
}
.__headList__ ul {
    display: flex;
    justify-content: space-between;
}

.__headList__ ul li:hover {
    cursor: pointer;
    transform: scale(1.06);
    transition: 0.2s ease-in-out;
}

.__body__ {
    background-color:#103557;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.__bodyTitle__ {
    color: white;
    font-style: normal;
    line-height: normal;
    max-width: 600px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 3rem;
    margin-left: 4rem;
}

.__bodyTitle__ h1 {
    font-size: 4rem;
    font-weight: 700;
}

.__bodyTitle__ p {
    font-size: 16px;
    font-weight: 700;

}

.__bodyButtons__ {
    display: flex;
    justify-content: space-between;
    width: 530px;
}

.__bodyButton1__ {
    width: 243px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 3px;
    background-color: #3b94e5;
}

.__bodyButton1__:hover {
    background-color: #73b3f0;
}


.__bodyButton2__ {
    width: 243px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 3px;
    border: 1px solid #FFF;
}

.__bodyButton2__:hover {
    background-color: #214769;
}




.__bodyImage__ img {
    margin-bottom: 2rem;
    
}

.__footer__ {
    background-color:#2E83D2;
    position: fixed;
    bottom: 0;
    height:17vh;
    padding: 20px;
    width: 70%;
    left: 15%;
    display: flex;
    justify-content: space-around;
}

.__footerContent__ h1 {
    color: #FFF;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 12px;
}

.__footerContent__ p {
    color: #FFF;
font-family: Raleway;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: normal;
}